Checks: >
  modernize-*,
  -modernize-use-trailing-return-type,
  cppcoreguidelines-*,
  -cppcoreguidelines-avoid-magic-numbers,
  -cppcoreguidelines-macro-usage,
  -cppcoreguidelines-pro-bounds-pointer-arithmetic,
  -cppcoreguidelines-pro-bounds-constant-array-index,
  -cppcoreguidelines-pro-bounds-avoid-unchecked-container-access,
  -cppcoreguidelines-special-member-functions,
  readability-*,
  -readability-magic-numbers,
  performance-*,
  bugprone-*,
  -bugprone-unchecked-optional-access,
  clang-analyzer-*

WarningsAsErrors: "*"

HeaderFilterRegex: "src/.*"

CheckOptions:
  - key: readability-identifier-length.MinimumVariableNameLength
    value: "2"
  - key: readability-identifier-length.MinimumParameterNameLength
    value: "2"
